<div class="card-box">
  <header class="card-head">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/post/{{id}}"  >{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="post-content">
            {{post_content}}
        </div>
            <div class="dash-user">
                <b>{{user.username}}</b> | 
                <a href="https://twitter.com/{{user.twitter}}"><i class="fab fa-twitter"></i></a> 
                <a href="https://github.com/{{user.github}}"><i class="fab fa-github"></i></a>
                 | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>


{{!-- class="has-text-black is-capitalized is-pulled-left" --}}